.header {
  padding: 45px 2rem 40px;
  margin: 0 auto;
  max-width: 882px;
}

.header__logo {
  width: 173px;
}

.header__separator {
  border-bottom: 1px solid #545454;
  margin-top: 41px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  gap: 16px;
}

.header__btn-logout {
  background-color: transparent;
  padding: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.header__btn-logout:hover {
  opacity: 0.8;
}

.header__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 120px;
  }
}
